<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Owl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Owl.Properties.Settings>
            <setting name="IndexPath" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="Directory1" serializeAs="String">
                <value />
            </setting>
            <setting name="Directory2" serializeAs="String">
                <value />
            </setting>
            <setting name="Directory3" serializeAs="String">
                <value />
            </setting>
            <setting name="Directory4" serializeAs="String">
                <value />
            </setting>
            <setting name="Directory5" serializeAs="String">
                <value />
            </setting>
            <setting name="Directory6" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalDrives" serializeAs="String">
                <value>c:,d:</value>
            </setting>
            <setting name="Extensions" serializeAs="String">
                <value>.c,.cpp,.h,.hpp,.xml,.txt,.ini,.cs,.sh</value>
            </setting>
        </Owl.Properties.Settings>
    </userSettings>
</configuration>